@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: #2c2b3c;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  position: relative;
}
body .wrapper {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: relative;
  width: 100%;
}
body .wrapper #title {
  color: #ccc;
  font-size: 5em;
  width: 100%;
  position: relative;
}
body .wrapper .item-mid {
  color: #ccc;
  box-sizing: border-box;
  border: 20px solid red;
  background: green;
  font-size: 2.5em;
  width: 33.33%;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
body .wrapper .item-mid:hover {
  background: purple;
  transition: 0.3s;
}
